.content {
	.json-data,
	.rss-data {
		ul {
			li {
				h3 {
					margin: $gutter-m 0;

					span {
						font-weight: $light-font-weight;
					}
				}
				.date {
					text-align: right;
					margin: $gutter-m 0;
					font-weight: $light-font-weight;
					padding-left: $gutter-xs;

					@media screen and (max-width: $screen-sm) {
						text-align: left;
						margin: 0;
					}
				}

				@include separator(1px, $primary-bg-color);
			}
		}
	}

	.rss-data {
		li {
			margin: $gutter-m 0;

			.date {
				padding-bottom: $gutter-m;
			}
		}
	}

	.file-data {
		table {
			th {
				cursor: pointer;

                &:hover {
                  color: $link-color;
                }

                span {
                  font-size: 0.7em;
					position: relative;
					top: -5px;
                }
			}
		}
	}
}
