.grid {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;

	&.grid-margin {
		margin-bottom: $gutter-l;
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}

	[class*='col-'] {
		float: left;
		min-height: 1px;
		padding-right: $gutter-m;
		padding-left: $gutter-m,;

		&.no-gutter {
			padding: 0;
		}

		&.no-gutter-right {
			padding-right: 0;
		}

		&.no-gutter-left {
			padding-left: 0;
		}
	}

	&.grid-gutter {
		padding-top: $gutter-l;
		padding-bottom: $gutter-l;
	}

	&.no-gutter {
		[class*='col-'] {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&.no-gutter-left {
		[class*='col-'] {
			padding-left: 0;
		}
	}

	&.no-gutter-right {
		[class*='col-'] {
			padding-right: 0;
		}
	}

	//Columns

	//xs columns
	.col-xs-12 {
		width: 100%;
	}
	@for $i from 1 through 11 {
		.col-xs-#{$i} {
			width: 8.33% * $i
		}
	}

	@for $i from 1 through 11 {
		.col-push-xs-#{$i} {
			margin-left: 8.33% * $i
		}
	}

	//sm columns
	@media screen and (min-width: $screen-sm) {
		.col-sm-12 {
			width: 100%;
		}

		@for $i from 1 through 11 {
			.col-sm-#{$i} {
				width: 8.33% * $i
			}
		}
	}

	@media screen and (min-width: $screen-sm) {
		@for $i from 1 through 11 {
			.col-push-sm-#{$i} {
				margin-left: 8.33% * $i
			}
		}
	}

	//md columns
	@media screen and (min-width: $screen-md) {
		.col-md-12 {
			width: 100%;
		}

		@for $i from 1 through 11 {
			.col-md-#{$i} {
				width: 8.33% * $i
			}
		}
	}

	@media screen and (min-width: $screen-md) {
		@for $i from 1 through 11 {
			.col-push-md-#{$i} {
				margin-left: 8.33% * $i
			}
		}
	}

	//lg columns
	@media screen and (min-width: $screen-lg) {
		.col-lg-12 {
			width: 100%;
		}

		@for $i from 1 through 11 {
			.col-lg-#{$i} {
				width: 8.33% * $i
			}
		}

		@for $i from 1 through 11 {
			.col-push-lg-#{$i} {
				margin-left: 8.33% * $i
			}
		}
	}
}