@font-face {
	font-family: 'tabsicon';
	src: url('../fonts/tabs_icons.eot');
	src: url('../fonts/tabs_icons.eot') format('embedded-opentype'),
	url('../fonts/tabs_icons.ttf') format('truetype'),
	url('../fonts/tabs_icons.woff') format('woff'),
	url('../fonts/tabs_icons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'tabsicon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:before {
		padding: $gutter-m;
		vertical-align: middle;
		font-size: 1.5em;
	}
}

.icon-file_binary:before {
	content: "\e900";
}
.icon-up:before {
	content: "\e901";
}
.icon-down:before {
	content: "\e902";
}
.icon-file_json:before {
	content: "\e903";
}
.icon-rss:before {
	content: "\e904";
}
