table {
	tr {
		th, td {
			padding: $gutter-s $gutter-xs;
			text-align: left;
		}

		td {
			word-break: break-all;
		}
	}

	&.table-striped {
		tr {
			border-bottom: 1px solid $primary-bg-color;

			&:last-child {
				border-bottom: 0;
			}
		}

		thead {
			tr {
				border-bottom-width: 2px;
			}
		}
	}
}