@import 'variables';
@import 'icons';
@import 'mixins';
@import 'grids';
@import 'contentTabs';
@import 'buttons';
@import "tables";
@import "animation";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300&subset=latin,latin-ext);

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

body {
	background: $primary-bg-color;
	color: $primary-font-color;
	font-weight: $base-font-weight;
	font-size: $base-font-size;
	font-family: 'Roboto', sans-serif;

	a {
		text-decoration: none;
		cursor: pointer;
		color: $link-color;

		&:hover {
			color: lighten($link-color, 20%);
		}

	}

	header {
		h1 {
			font-size: $header-size;
			font-weight: $bold-font-weight;
			text-align: center;
			max-width: $content-width;
			margin: 0 auto;
			padding: $gutter-xl 0 $gutter-l 0;

			@media screen and (max-width: $screen-sm) {
				font-size: $header-size - 1;
			}
		;
		}
	}

	.tabs {
		font-size: $tab-nav-font-size;
		width: 100%;
		padding-bottom: $gutter-xl;

		nav {
			background-color: $nav-bg-color;

			ul {
				max-width: $content-width;
				margin: 0 auto;
				text-align: center;

				li {
					display: block;
					cursor: pointer;
					position: relative;
					overflow: hidden;

					a {
						font-size: 1.3em;
						color: $primary-font-color;
						position: relative;
						padding: $gutter-l 0;
						display: block;
						@include transition(all 0.2s);

						&:hover {
							color: $main-color;
						}

						&:after {
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 6px;
							background-color: $main-color;
							content: '';
							@include transition(transform 0.2s);
							@include transform(translate3d(0, $gutter-s, 0));

							.no-csstransforms3d & {
								display: none;
							}
						}

						span {
							@media screen and (max-width: $screen-sm) {
								display: none;
							}
						}

					}
					&.active {
						a {
							color: $main-color;
							&:after {
								@include transform(translate3d(0, 0, 0));
							}

							.no-csstransforms3d & {
								border-bottom: 6px solid $main-color;
							}
						}
					}
				}

			}
		}

		.content {
			max-width: $content-width;
			margin: 0 auto;
			background-color: $content-bg-color;
			margin-top: 1px;
			padding: 0 $gutter-l;
		}
	}
	.text-center {
		text-align: center;
	}
	@include spinner();


}