<div class="file-data" ng-init="init()" xmlns="http://www.w3.org/1999/html">
    <ng-include src=" 'views/partials/preloader.html'" ng-show="isLoading"></ng-include>
    <div class="grid grid-gutter">
        <table ng-show="!isLoading && error == false" class="col-xs-12 table-striped">
            <thead>
            <tr>
                <th ng-click="orderByFieldHosts='host'; reverseSortHosts = !reverseSortHosts">
                    <span ng-class="{'icon-down': (reverseSortHosts && orderByFieldHosts == 'host'),
                    'icon-up' : (!reverseSortHosts && orderByFieldHosts == 'host') }"></span>Host
                </th>
                <th ng-click="orderByFieldHosts='traffic'; reverseSortHosts = !reverseSortHosts">
                    <span ng-class="{'icon-down': (reverseSortHosts && orderByFieldHosts == 'traffic'),
                     'icon-up' : (!reverseSortHosts && orderByFieldHosts == 'traffic') }"></span>Traffic
                    </th>
            </tr>
            </thead>
            <tr ng-repeat="host in hostData | orderBy:orderByFieldHosts:reverseSortHosts " class="grid grid-padding">
                <td><span>{{host.host}}</span></td>
                <td><span>{{host.traffic/1024 | number:2}} KB</span></td>
            </tr>
        </table>
    </div>
    <div class="grid grid-gutter">
        <table ng-show="!isLoading && error == false" class="col-xs-12 table-striped">
            <thead>
            <tr>
                <th ng-click="orderByFieldFiles='filename'; reverseSortFiles = !reverseSortFiles"><span ng-class="{'icon-down': (reverseSortFiles && orderByFieldFiles == 'filename'),
                'icon-up' : (!reverseSortFiles && orderByFieldFiles == 'filename') }"></span>File</th>
                <th ng-click="orderByFieldFiles='requests'; reverseSortFiles = !reverseSortFiles"><span ng-class="{'icon-down': (reverseSortFiles && orderByFieldFiles == 'requests'),
                'icon-up' : (!reverseSortFiles && orderByFieldFiles == 'requests') }"></span>Requests</th>
            </tr>
            </thead>
            <tr ng-repeat="file in fileData | orderBy:orderByFieldFiles:reverseSortFiles " class="grid grid-padding">
                <td>{{file.filename}}</td>
                <td>{{file.requests}}</td>
            </tr>
        </table>
    </div>
    <ng-include src=" 'views/partials/error.html'"></ng-include>
</div>